*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
#logo{
  height: 55px;
}
#logoText{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
 
header{

  font-family: "Roboto Condensed", sans-serif;
 /* background-color: #dadde0; */
 padding-bottom: 0.75rem;
 padding-top: .55rem;
 background-color: rgb(140, 136, 136); /* For browsers that do not support gradients */
 background-image: linear-gradient(rgb(240, 234, 234), #5685ecc9); 
 border-bottom: solid black 1px;
}
main{
  background-color: rgb(240, 255, 255);
}
































/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your styles for small screens go here */
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your styles for medium screens go here */
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your styles for large screens go here */
  #logo{
    height: 65px;
  }





}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
  /* Your styles for extra large screens go here */
  #logo{
    height: 65px;
  }





}